@tailwind base;
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: var(--secondary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/font/JetBrainsMono.ttf');
}

:root {
    --primary: #b4637a;
    --secondary: rgba(0, 0, 0, 0.1);
}