@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/font/JetBrainsMono.ttf');
}